<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MPR_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPR_UI.Properties.Settings>
            <setting name="CT_DICOM_DIR" serializeAs="String">
                <value>D:\DicomDataSet\PTCT\Dataset1\1.3.12.2.1107.5.1.4.1007.30000012032001413290600020180</value>
            </setting>
            <setting name="AxialColor" serializeAs="String">
                <value>Tomato</value>
            </setting>
            <setting name="CoronalColor" serializeAs="String">
                <value>BlueViolet</value>
            </setting>
            <setting name="SagittalColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="PT_DICOM_DIR" serializeAs="String">
                <value>D:\DicomDataSet\PTCT\Dataset1\1.3.12.2.1107.5.1.4.1007.30000012032001433800000011963</value>
            </setting>
        </MPR_UI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
